<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Machine Learning Intro</title>
    <link rel="stylesheet" href="/static/css/ml.css">
</head>
<body>
    <p>
        The ongoing AI revolution has the potential to transform society far beyond 
        its current applications in science and technology. A key driver of this 
        revolution is machine learning (ML), for which increasingly sophisticated 
        methods have been developed. This progress has led to the expectation that 
        machines may outperform humans in most tasks, including intellectual ones, 
        within a few decades. The revolution is driven by two converging 
        movements. The first movement is referred to as "data-intensive discovery," 
        "e-Science," or "big data." This movement involves transforming massive 
        amounts of data into knowledge using various computational methods, 
        including ML. The data is transitioning from a passive role to an active role, 
        which means it is not only used to confirm or refute a hypothesis but also to 
        assist in raising new hypotheses to be tested on an unprecedented scale. The 
        second movement involves natural language processing tools, which are 
        under development to process spoken and written text. Significant progress 
        has been made recently in combining ML and big data to achieve impressive 
        results in speech processing and machine translation. Although 
        computational systems are still far from human-level text interpretation, the 
        synergistic use of big data and ML allows for the creation of intelligent 
        systems capable of handling massive amounts of data with analytical ability. 
        Such systems could generate knowledge without human intervention, which 
        could have a significant impact on society. Despite the optimism 
        surrounding big data and ML, their contributions to society are already 
        significant. ML algorithms can operate on small datasets and require limited 
        computational resources, while working with big data requires proper 
        infrastructure and significant computational power. The goals of ML fall into 
        two distinct types: classification of data instances and making inferences 
        based on the organization and/or structuring of the data. Although 
        considerable work has been devoted to addressing the challenges that arise
        when materials science meets big data and ML, there is still much to be 
        achieved in the next few decades. In this review paper, we discuss two 
        fundamental areas in Materials Science: ML-based discovery of new 
        materials and ML-based analysis of chemical sensing compounds.
    </p>
    <p id="enterText">Press Enter to Continue</p>
    <script>
        document.body.addEventListener("keydown", function(event) {
            if(event.key === "Enter") {
                window.location.href = "/main";
            }
        });
    </script>
</body>
</html>
